<div class="jumbotron error-page">
  <h1>404 ошибка</h1>
  <p>Страница, которую вы запрашиваете, не найдена. Возможны следующие причины:</p>
  <ul>
	  <li>был изменен URL</li>
	  <li>страница была удалена</li>
	  <li>ошибка в написании ссылки</li>
  </ul>
  <p class="buttons">
	  <a class="btn btn-primary btn-lg" href="/" role="button">Перейти на главную</a>
	  <button class="btn btn-default btn-lg" onclick="javascript:window.history.go(-1)" role="button">Назад</button>
	</p>
</div>